{% extends "base.html" %}

{% block title %}Sign Up - Kube Center{% endblock %}

{% block header %}Create an Account{% endblock %}

{% block content %}
<div class="center_parent">
    <div class="account_body">
        <h2>Sign Up</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Django automatically renders the username & password fields -->
            <button type="submit">Sign Up</button>
        </form>

        <p>Already have an account? <a href="{% url 'login' %}">Log in here</a>.</p>
    </div>
</div>
{% endblock %}